.image-slider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.image-slider__image {
    filter: blur(1px);
}

.profile {
    background-color: rgba(177, 156, 217, 0.6);
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile__header {
    margin-bottom: 10px;
}

.profile__title {
    margin-bottom: 10px;
    font-family: Overpass, sans-serif;
    font-weight: 700;
}

.profile__subtitle {
    font-family: Roboto, sans-serif;
}

.profile .tns-nav button {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #E6E6FA;
    background-color: #dcd0ff;
}