body {
    font-family: Roboto, sans-serif;
}

.image-slider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.image-slider__image {
    filter: blur(0.5px);
}

.profile {
    background-color: rgba(177, 156, 217, 0.6);
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile__header {
    margin-bottom: 10px;
}

.profile__title {
    margin-bottom: 10px;
    font-family: Overpass, sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.profile__subtitle {
    font-size: 18px;
}

.profile .tns-nav {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.profile .tns-nav button {
    padding: 0 !important;
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #E6E6FA;
    background-color: #dcd0ff;
}

.profile .tns-nav button:last-child {
    margin-right: 0;
}

.page__title {
    font-family: Overpass, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.page__body {
    width: 100%;
    max-width: 500px;
}

@media screen and (min-width: 767px) {
    .page__body {
        max-width: 700px;
    }
}

@media screen and (min-width: 1024px) {
    .page__body {
        max-width: 800px;
    }
}

@media screen and (min-width: 1280px) {
    .page__body {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1920px) {
    .page__body {
        max-width: 1200px;
    }
}