body {
    font-family: Roboto, sans-serif;
    color: #222;
}

.image-slider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.image-slider__image {
    filter: blur(0.5px);
}

.profile {
    background-color: rgba(177, 156, 217, 0.6);
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile__header {
    margin-bottom: 10px;
}

.profile__title {
    margin-bottom: 10px;
    font-family: Overpass, sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.profile__subtitle {
    font-size: 18px;
}

.page {
    overflow: auto;
    max-height: 80vh;
    -ms-overflow-style: none;
    line-height: normal;
    opacity: 0;
    height: 0;
    transition: opacity ease 0.8s, color ease 0.6s;
    color: #f3ffd0;
}

.page.is-active {
    color: #222;
    opacity: 1;
    height: auto;
}

.page::-webkit-scrollbar {
    display: none;
}

.page__title {
    font-family: Overpass, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.page__body {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.page-toggle {
    font-family: Overpass, sans-serif;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 8px;
    border: solid 1px #dcd0ff;
    transition: color ease 0.4s;
}

.page-toggle:hover {
    color: #f3ffd0;
}

@media screen and (min-width: 767px) {
    .page__body {
        max-width: 700px;
    }
}

@media screen and (min-width: 1024px) {
    .page__body {
        max-width: 800px;
    }
}

@media screen and (min-width: 1280px) {
    .page__body {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1920px) {
    .page__body {
        max-width: 1200px;
    }
}